{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme edit_form 'IPDUVTierrasBundle:Form:oferente.theme.html.twig' %}

{% block content -%}

        <input type="button" id="boton2" value="Comprobar DNI">
        <div id="verificacion">
	
	</div>
    {{ form(edit_form, {'attr': {'id': 'form_oferente'}}) }}  
 <!--   {{ form(edit_form) }} -->
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  	    <script src="{{asset('js/')}}funciones.js"></script>
{% endblock %}
