{% extends "IPDUVTierrasBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li class="active">Lista de oferentes</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('terreno') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
<br>
<a href="{{ path('oferente_new') }}" class="btn btn-small btn-default"><i class="glyphicon glyphicon-plus"></i> NUEVO OFERENTE</a>
<br>
<br>
<table id="table_id"  class="display" cellspacing="0" width="100%" >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Mas info</th>
            <th>Terrenos</th>
        </tr>
    </thead>

    <tbody>
        {% for entity in entities %}
                <tr>
                    <td>{{ entity.apellido }}</td>
                    <td>{{ entity.direccion }}</td>
                    <td>{{ entity.telefono }}</td>
                    <td>{{ entity.email }}</td>
<td><a href="{{ path('oferente_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-user"></i> </a> </td>
<td><a href="{{ path('terreno') }}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> </a></td>
                </tr>
        {% endfor %}

        </tbody>
    </table>

    {% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <!-- jQuery -->

    <script src="{{asset('js/')}}jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>  

    <script type="text/javascript">
$(document).ready( function () {
    //$('#table_id').DataTable();
    var elemento = $('#table_id thead th');
    var cont = elemento.length - 2;
    elemento.each( function () {
        debugger;
        var title = $('#table_id thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );

        cont = cont-1;
        if (cont == 0)
        {
            return false;
        }
    } );
    
    // DataTable
    var table = $('#table_id').DataTable({
         "order": [[ 0, "asc" ]],
         "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
          "columnDefs": [
            { "visible": true,  "targets": [ 0 ] },
        ], 
    });
 
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        //debugger;
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
} );  
</script>

{% endblock %}