{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTierrasBundle:Form:oferente.theme.html.twig' %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('oferente') }}">Listas de oferentes</a></li>
    <li class="active">Nuevo oferente</li>
    </ol>
</div>


<div class="pull-right">
    <a href="{{ path('oferente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}


{% block content -%}

    {{ form(form, {'attr': {'id': 'form_oferente'}}) }}
    
    
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  	    <script src="{{asset('js/')}}funciones.js"></script>
{% endblock %}