{% extends "IPDUVTierrasBundle::layout.html.twig" %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('oferente') }}">Listas de oferentes</a></li>
    <li class="active">Datos del oferente</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('oferente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
<p>
<br>
    <div class="panel panel-default">
        <div class="panel-heading">DATOS DEL OFERENTE</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        {% if entity.rol.nombre == 'Empresa constructora' %}
                        <li class="list-group-item"><strong>Razon: </strong> {{ entity.razon }}</li>
                        <li class="list-group-item"><strong>Rubro: </strong> {{ entity.rubro }}</li>
                        <li class="list-group-item"><strong>Cuit: </strong> {{ entity.cuit }}</li
                        {% endif %}
                        {% if  entity.rol.nombre == 'Inmobiliaria' %}
                        <li class="list-group-item"><strong>Inmobiliaria: </strong> {{ entity.nombre}}</li>
                        <li class="list-group-item"><strong>Telefono inmobiliaria: </strong> {{ entity.telefono}}</li>
                        <li class="list-group-item"><strong>Correo inmobiliaria: </strong> {{ entity.correo}}</li>
                        {% else %}
                        <li class="list-group-item"><strong>Nombre: </strong> {{ entity.nombre }} {{ entity.apellido }}</li>        
                        <li class="list-group-item"><strong>Telefono: </strong> {{ entity.telefono }}</li>
                        <li class="list-group-item"><strong>E-mail: </strong> {{ entity.email }}</li>  
                        {% endif %}
                        <li class="list-group-item"><strong>Rol: </strong> {{ entity.rol.nombre }}</li>
                        
                    </ul>
            </div>

            <div class="col-md-6">
                {% if entity.rol.nombre == 'Municipio'%}
                    <li class="list-group-item"><strong>Municipio: </strong> {{ entity.municipio }}</li>
                    <li class="list-group-item"><strong>Cargo municipal: </strong> {{ entity.cargo }}</li>            
                {% elseif entity.rol.nombre == 'Organismos provinciales' %}
                    <li class="list-group-item"><strong>Reparticion: </strong> {{ entity.reparticion}}</li>
                    <li class="list-group-item"><strong>Cargo del oferente: </strong> {{ entity.cargo}}</li>
                {% endif %}   
                <li class="list-group-item"><strong>Documento: </strong> {{ entity.documento }}</li>                     
                <li class="list-group-item"><strong>Direccion: </strong> {{entity.direccion }}</li>
                <li class="list-group-item"><strong>Relacion con el propietario: </strong> {{ entity.relacion}}</li>
            </div>
        </div>
    </div>
    </div>
</p>

<div class="panel panel-default">
  <div class="panel-heading">OPCIONES</div>
  
  <div class="panel-body">    
    <div align="center">
     <a href="{{ path('oferente_edit', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> EDITAR OFERENTE</a>
     <a href="" class="btn btn-default"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h3 class="modal-title" id="myModalLabel">Eliminar oferente!</h3>
        </div>
        <div class="modal-body">
          <p>Seguro que desea eliminar al oferente:  {{ entity.nombre }} {{ entity.apellido }}?</p>
          <div class="btn-group center-block">
            {{ form(delete_form) }}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>
   

{% endblock %}

{% block content1 -%}
    <h1>Oferente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ entity.rol }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ entity.municipio }}</td>
            </tr>
            <tr>
                <th>Cargomunicipal</th>
                <td>{{ entity.cargoMunicipal }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Razon</th>
                <td>{{ entity.razon }}</td>
            </tr>
            <tr>
                <th>Rubro</th>
                <td>{{ entity.rubro }}</td>
            </tr>
            <tr>
                <th>Nombreinmobiliaria</th>
                <td>{{ entity.nombreInmobiliaria }}</td>
            </tr>
            <tr>
                <th>Telefonoinmobiliaria</th>
                <td>{{ entity.telefonoInmobiliaria }}</td>
            </tr>
            <tr>
                <th>Correoinmobiliaria</th>
                <td>{{ entity.correoInmobiliaria }}</td>
            </tr>
            <tr>
                <th>Reparticion</th>
                <td>{{ entity.reparticion }}</td>
            </tr>
            <tr>
                <th>Cargooferente</th>
                <td>{{ entity.cargoOferente }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ entity.documento }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ entity.cuit }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Otrotelefono</th>
                <td>{{ entity.otroTelefono }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('oferente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('oferente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
