{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme edit_form 'IPDUVTierrasBundle:Form:terrenofinal.theme.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('expediente_show', { 'id': entity.expediente.id }) }}">Expediente</a></li>
    <li class="active">Editar terreno (Expediente: {{ entity.expediente.exp1 }}-{{ entity.expediente.exp2 }}-{{ entity.expediente.exp3 }}-{{ entity.expediente.exp4 }})</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('expediente_show', { 'id': entity.expediente.id }) }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
    {{ form(edit_form) }}

    <!-- CREAR Modal -->
<div class="modal fade" id="modalAgregarObservacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DE LA OBSERVACION</h4>
      </div>
      <form  id="nuevaObservacion" method="post" >
      <input type="hidden" value="{{ entity.id }}" id="terreno_id" >
       <input type="hidden" value="{{ app.user }}" id="usuario" >
      <div class="modal-body">
      <div id="msjNuevaObservacion"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                 <div class='col-md-1'>
                    Tipo:
                </div>
                <div class='col-md-4'>
                    <select name="tipo" id="tipo" class="form-control" > 
                        <option value="1">Observacion</option>
                        <option value="2">Visita</option>
                    </select> 
                </div>
                
                <div class='col-md-1'>
                    Fecha:
                </div>
                <div class='col-md-5'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1' >
                                <input type="text" class="form-control" id="fecha" name="fecha" >
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="list-group-item"> 
                <div class="row">
                    <div class="col-md-2">
                         Observacion:
                    </div>
                    <div class="col-md-9">
                         <textarea class="form-control" id="observacion" name="observacion" rows = "3"> </textarea>
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAgregarBeneficiario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL BENEFICIARIO</h4>
      </div>
      <form  id="nuevoBeneficiario" method="post" >
      <input type="hidden" value="{{ entity.id }}" id="terreno_id" >
      <div class="modal-body">
      <div id="msjAgregarBeneficiario"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Documento:
                    </div>
                    <div class="col-md-10">
                        <input id="documento" name="documento" type="text" class="form-control" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Apellido:
                    </div>
                    <div class="col-md-10">
                        <input id="apellido" name="apellido" type="text"  class="form-control">
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Nombre:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Télefono:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="telefono" name="telefono" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Correo:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" name="email" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Direccion:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="direccion" name="direccion" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Mz:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mz" name="mz" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Pc:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="pc" name="pc" >
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
      </form>
    </div>
  </div>
</div>

    <!-- EDITAR Modal -->
<div class="modal fade" id="modalEditarObservacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DE LA OBSERVACION</h4>
      </div>
      <form  id="editarObservacion" method="post" >
      <input type="hidden" value="" id="observacionId" >
      <div class="modal-body">
      <div id="msjEditarObservacion"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                 <div class='col-md-1'>
                    Tipo:
                </div>
                <div class='col-md-4'>
                    <select name="tipo" id="tipo" class="form-control" > 
                        <option value="1">Observacion</option>
                        <option value="2">Visita</option>
                    </select> 
                </div>
                
                <div class='col-md-1'>
                    Fecha:
                </div>
                <div class='col-md-5'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1' >
                                <input type="text" class="form-control" id="fecha" name="fecha" >
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="list-group-item"> 
                <div class="row">
                    <div class="col-md-2">
                         Observacion:
                    </div>
                    <div class="col-md-9">
                         <textarea class="form-control" id="observacion" name="observacion" rows = "3"> </textarea>
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Gardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- EDITAR Modal -->
<div class="modal fade" id="modalEditarBeneficiario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL BENEFICIARIO</h4>
      </div>
      <form  id="editarBeneficiario" method="post" >
      <input type="hidden" value="" id="beneficiarioId" >
      <div class="modal-body">
      <div id="msjEditarBeneficiario"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Documento:
                    </div>
                    <div class="col-md-10">
                        <input id="documento" name="documento" type="text" class="form-control" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Apellido:
                    </div>
                    <div class="col-md-10">
                        <input id="apellido" name="apellido" type="text"  class="form-control">
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Nombre:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Télefono:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="telefono" name="telefono" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Correo:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" name="email" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Direccion:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="direccion" name="direccion" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Mz:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mz" name="mz" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Pc:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="pc" name="pc" >
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
      <div id="msjTerrenoBeneficiario"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade borrar-bene" id="modalBorrarBeneficiario" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Beneficiario</h4>
      </div>
      <div class="modal-body">
      <div id="msjBajaBeneficiario"></div>
    <form id="borrarBeneficiario" action="post" >
      <input id="idEliminarBeneficiario" name="idEliminarBeneficiario" type="hidden" value="">
      <input id="valorEliminarBeneficiario" name="valorEliminarBeneficiario" type="hidden" value="">
          <div class="form-group">
            <h5 for="recipient-name" class="control-label">Esta seguro que desea cambiar el estado del beneficiario?</h5>
            <div class="form-group">
              <label for="message-text" class="control-label" >Motivo:</label>
              <textarea id="motivo" name="motivo" class="form-control" ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-remove">ACEPTAR</i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade borrar-obs" id="modalBorrarObservacion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Observacion</h4>
      </div>
      <div class="modal-body">
    <form id="borrarObservacion" action="post" >
      <input id="idBorrarObservacion" name="idBorrarObservacion" type="hidden" value="">

        <div class="form-group">
        <div id="message_pemuta"></div>

          <h5 for="recipient-name" class="control-label">Esta seguro que desea borrar esta observacion?</h5>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-transfer"> Borrar</i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts1 %}

 	{{ parent() }}

    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>    

    
    <script src="{{asset('js/')}}moment.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

  
    <script src="{{asset('js/')}}beneficiario.js"></script>
    <script src="{{asset('js/')}}observacion.js"></script>
    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    $(function () {$('#datetimepicker1').datetimepicker();});


    function inicializarEventos()
    {       
      
        var y = x;
        y = $("#mensura").hide("slow");
        y = $("#folioViejo").hide("slow");
        
        var x = $("#ipduv_tierrasbundle_terreno_mensura").click(ocultarMensura);
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);
        x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").prop("checked", "checked"); 
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);

        x = $("#desire").hide("slow");
        x = $("#laura").hide("slow");
        
        $('#myTabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })

      //  debugger;
        x =  $("#analisis").hide("slow");
        x =  $("#nst").hide("slow");
        x =  $("#observaciones").hide("slow");
        x =  $("#beneficiarios").hide("slow");


        $('#myTabs a[href="#principal"]').click(principal)
        $('#myTabs a[href="#analisis"]').click(analisis)
        $('#myTabs a[href="#nst"]').click(nst)
        $('#myTabs a[href="#observaciones"]').click(observaciones)
        $('#myTabs a[href="#beneficiarios"]').click(beneficiarios)

         var div = $('#modalEditarBeneficiario');
          div.find(':input[id^="documento"]').focusout(buscarTerrenos);//val(data.Id);
        

    }

    function principal()
    {
        
       x = $("#principal").show("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");
       x = $("#ipduv_tierrasbundle_terreno_submit").show("slow");
    }

    function analisis()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").show("slow");
       x =  $("#nst").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");
       x = $("#ipduv_tierrasbundle_terreno_submit").show("slow");

    }

    function nst()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").show("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");
       x = $("#ipduv_tierrasbundle_terreno_submit").show("slow");
    }

    function observaciones()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").show("slow");
       x =  $("#beneficiarios").hide("slow");
       x = $("#ipduv_tierrasbundle_terreno_submit").hide("slow");

    }

    function beneficiarios()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").show("slow");
       x = $("#ipduv_tierrasbundle_terreno_submit").hide("slow");

    }


    

    

    function ocultarMensura()
    {
        var x = $("#ipduv_tierrasbundle_terreno_mensura:checked");
        if (x.val())
        {
            x = $("#mensura").show("slow");
            x = $("#proyectoDeLoteo").hide("slow");
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", false);             
            
        }
        else
        {   
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
            x = $("#mensura").hide("slow"); 
            x = $("#proyectoDeLoteo").show("slow");
        }
     
    }

    function test()
    {

      var dni = $("#terreno_id").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax1', { dni: dni }),  
                success: function(data){          

                } 
            });
    }

    function ocultarFolio()
    {
        var x = $("#ipduv_tierrasbundle_terreno_poseeFolio:checked");
        if (x.val())
        {
            x = $("#folio").show("slow");
            x = $("#folioViejo").hide("slow"); 
        }
        else
        {       
            x = $("#folioViejo").show("slow");
            x = $("#folio").hide("slow"); 
        }
     
    }


    function buscarTerrenos()
    {
       var div = $('#modalEditarBeneficiario');
       var id_bene = div.find(':input[id^="documento"]').val();
       //alert(id_bene);
           $.ajax({
              url: Routing.generate('terrenosbeneficiario_ajax', { id: id_bene }), 
              type: "GET",
              contentType: false,
              cache: false,
              processData:false,
              success: function(data)
              {
           //   alert(data[0].Mensaje);
               $("#msjTerrenoBeneficiario").html("<div class='alert alert-danger' style='text-align:left' role='alert'><p>"+ data[0].Mensaje +"</p></div>");                
              }
      });

       
       
     
    }

  
  // msjTerrenoBeneficiario
    




     $("#borrarBeneficiario").on('submit',(function(e) {
         var div = $('#borrarBeneficiario');
         var id_bene = div.find(':input[id^="idEliminarBeneficiario"]').val();
         var id_bene1 = div.find(':input[id^="valorEliminarBeneficiario"]').val();
                        e.preventDefault();                    
                    $.ajax({
                    url: Routing.generate('edit_ajax_beneficiario', { id: id_bene}), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                            $("#msjBajaBeneficiario").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                            $("#msjBajaBeneficiario").fadeIn(1000);
                            $("#msjBajaBeneficiario").fadeOut(2000, function(){
                                 $('#modalBorrarBeneficiario').modal('hide');
                                 $('#idEliminarBeneficiario').val("");
                                 $('#valorEliminarBeneficiario').val("");
                                 $('#motivo').val("");
                                 $('#documento').val("");
                                 recargarBeneficiario();
                            });
        
                             
                        }
                    });
     }));


</script>

{% endblock %}