{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTierrasBundle:Form:terrenofinal.theme.html.twig' %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('expediente_show', { 'id': entity.expediente.id }) }}">Expediente</a></li>
    <li class="active">Nuevo terreno</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('terreno') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
    {{ form(form) }}


<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL BENEFICIARIO</h4>
      </div>
      <form  id="nuevaObservacion" method="post" >
      <div class="modal-body">
      <div id="message"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                 <div class='col-md-1'>
                    Tipo:
                </div>
                <div class='col-md-4'>
                    <select name="tipo" id="tipo" class="form-control" > 
                        <option value="1">Observacion</option>
                        <option value="2">Visita</option>
                    </select> 
                </div>
                
                <div class='col-md-1'>
                    Fecha:
                </div>
                <div class='col-md-5'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1' >
                                <input type="text" class="form-control" id="fecha" name="fecha" >
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="list-group-item"> 
                <div class="row">
                    <div class="col-md-2">
                         Observacion:
                    </div>
                    <div class="col-md-9">
                         <textarea class="form-control" id="observacion" name="observacion" rows = "3"> </textarea>
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL BENEFICIARIO</h4>
      </div>
      <form  id="nuevoBeneficiario" method="post" >
      <div class="modal-body">
      <div id="message"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Documento:
                    </div>
                    <div class="col-md-10">
                        <input id="documento" name="documento" type="text" class="form-control" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Apellido:
                    </div>
                    <div class="col-md-10">
                        <input id="apellido" name="apellido" type="text"  class="form-control">
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Nombre:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Télefono:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="telefono" name="telefono" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Correo:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" name="email" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Direccion:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="direccion" name="direccion" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Mz:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mz" name="mz" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Pc:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="pc" name="pc" >
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}



{% block javascripts1 %}
{{ parent() }}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  



    <script type="text/javascript">

        
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionHolder = $('ul.tags');

        // configura una enlace "Agregar una etiqueta"
        var $addTagLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVA CONSULTA</a>');
        var $newLinkLi = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionHolder.append($newLinkLi);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

    <script type="text/javascript">

        
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionBeneficiario = $('ul.beneficiarios');

        // configura una enlace "Agregar una etiqueta"
        var $addbeneficiarioLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVO BENEFICIARIO</a>');
        var $newLinkLi1 = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addbeneficiarioLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionBeneficiario.append($newLinkLi1);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionBeneficiario.data('index', collectionBeneficiario.find(':input').length);

            $addbeneficiarioLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addbeneficiarioForm(collectionBeneficiario, $newLinkLi1);
            });
        });

        function addbeneficiarioForm($collectionBeneficiario, $newLinkLi1) {
            // Get the data-prototype explained earlier
            var prototype = $collectionBeneficiario.data('prototype');

            // get the new index
            var index = $collectionBeneficiario.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionBeneficiario.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a beneficiario" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi1.before($newFormLi);
            // add a delete link to the new form
            addbeneficiarioFormDeleteLink($newFormLi);
        }

        function addbeneficiarioFormDeleteLink($beneficiarioFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $beneficiarioFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the beneficiario form
                $beneficiarioFormLi.remove();
            });
        }
    </script>


     <script src="{{asset('js/')}}moment.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>
 
	
    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    $(function () {$('#datetimepicker1').datetimepicker();});

    function inicializarEventos()
    {
       nuevoBeneficiario();
       nuevaObservacion();
       limpiar();
        var y = x;
        y = $("#mensura").hide("slow");
        y = $("#folioViejo").hide("slow");
        
        var x = $("#ipduv_tierrasbundle_terreno_mensura").click(ocultarMensura);

        x = $("#js-data-example-ajax").change(valor);
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);

        x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").prop("checked", "checked"); 
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);

        x = $("#desire").hide("slow");
        x = $("#laura").hide("slow");
        {% if app.user  == 'desire' %}
        
            x = $("#desire").show("slow");

        {% elseif app.user  == 'desire' %} 

            x = $("#laura").show("slow");

        {% elseif app.user  == 'admin' %} 
             x = $("#desire").show("slow");
             x = $("#laura").show("slow");        
        {% endif %}

        $('#myTabs a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })

        //x = $("#principal").hide("slow");
        x =  $("#analisis").hide("slow");
        x =  $("#nst").hide("slow");
        x =  $("#observaciones").hide("slow");
        x =  $("#beneficiarios").hide("slow");


        $('#myTabs a[href="#principal"]').click(principal)
        $('#myTabs a[href="#analisis"]').click(analisis)
        $('#myTabs a[href="#nst"]').click(nst)
        $('#myTabs a[href="#observaciones"]').click(observaciones)
        $('#myTabs a[href="#beneficiarios"]').click(beneficiarios)



       // $('#myTabs a[href="#principal"]').click(principal)
        // $('#myTabs a[href="#analisis"]').hide("slow");
        // $('#myTabs a[href="#nst"]').hide("slow");
        // $('#myTabs a[href="#observaciones"]').hide("slow");
        // $('#myTabs a[href="#beneficiarios"]').hide("slow");
       // $('#myTabs a:last').click(analisis) // Select last tab

    }

    function principal()
    {
        
       x = $("#principal").show("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");
    }

    function analisis()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").show("slow");
       x =  $("#nst").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");

    }

    function nst()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").show("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").hide("slow");
    }

    function observaciones()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").show("slow");
       x =  $("#beneficiarios").hide("slow");

    }

    function beneficiarios()
    {
        
       x = $("#principal").hide("slow");
       x =  $("#analisis").hide("slow");
       x =  $("#nst").hide("slow");
       x =  $("#observaciones").hide("slow");
       x =  $("#beneficiarios").show("slow");

    }


    function valor()
    {
      x = $('#ipduv_tierrasbundle_terreno_oferente').find('option').remove().end();
      var dni = x=$("#js-data-example-ajax").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_terreno_oferente").select2({
                  data: data
                })
                } 
            });
    }

    function limpiar()
    {        
        $.ajax({  

                async:true,
                cache:false,
                url: Routing.generate('lista_ajax'),  
                success: function(data){
                console.log(data);
               // var x = $("#ipduv_tierrasbundle_terreno_programa");
                

                $("#js-data-example-ajax").select2({
                  data: data
                })

                } 
            });
    }

    function ocultarMensura()
    {
        var x = $("#ipduv_tierrasbundle_terreno_mensura:checked");
        if (x.val())
        {
            x = $("#mensura").show("slow");
            x = $("#proyectoDeLoteo").hide("slow");
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", false);             
            
        }
        else
        {   
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
            x = $("#mensura").hide("slow"); 
            x = $("#proyectoDeLoteo").show("slow");
        }
     
    }

    function ocultarFolio()
    {
        var x = $("#ipduv_tierrasbundle_terreno_poseeFolio:checked");
        if (x.val())
        {
            x = $("#folio").show("slow");
            x = $("#folioViejo").hide("slow"); 
        }
        else
        {       
            x = $("#folioViejo").show("slow");
            x = $("#folio").hide("slow"); 
        }
     
    }

    function nuevoBeneficiario()
    {
        $("#nuevoBeneficiario").on('submit',(function(e) {
                        

                    e.preventDefault();
                    


                    $.ajax({
                    url: Routing.generate('post_ajax_beneficiario'), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                        alert(data.resultado);
                        // debugger;
                        // $('#documento').val(data.Documento);
                        // $('#nombre').val(data.Nombre);
                        // $('#apellido').val(data.Apellido);
                        // $('#email').val(data.Email);
                        // $('#telefono').val(data.Telefono);
                        // $('#direccion').val(data.direccion);

                        // $("#message").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                        // $("#message").fadeIn(1000);
                        // $("#message").fadeOut(2000, function(){
                        //     $('#myModal').modal('hide');
                        //     cleanField();
                        // });

                        // recargarViviendas(data);
                    }
                });
                }));
    }

    function nuevaObservacion()
    {
        $("#nuevaObservacion").on('submit',(function(e) {
                        

                    e.preventDefault();                    
                    $.ajax({
                    url: Routing.generate('post_ajax_observacion'), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                        alert(data.resultado);
                        // debugger;
                        // $('#documento').val(data.Documento);
                        // $('#nombre').val(data.Nombre);
                        // $('#apellido').val(data.Apellido);
                        // $('#email').val(data.Email);
                        // $('#telefono').val(data.Telefono);
                        // $('#direccion').val(data.direccion);

                        // $("#message").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                        // $("#message").fadeIn(1000);
                        // $("#message").fadeOut(2000, function(){
                        //     $('#myModal').modal('hide');
                        //     cleanField();
                        // });

                        // recargarViviendas(data);
                    }
                });
                }));
    }

</script>

{% endblock %}