{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTierrasBundle:Form:terrenolaura.theme.html.twig' %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('terreno') }}">Listas de terrenos</a></li>
    <li class="active">Nuevo terreno</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('terreno') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
    {{ form(form) }}
{% endblock %}


{% block javascripts1 %}
 			{{ parent() }}
     <script src="{{asset('js/')}}moment.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>
 
	 
	<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
		                 //$('#datetimepicker2').datetimepicker();
		             });
	</script>
	 	
    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);

    function inicializarEventos()
    {
        var y = x;
        y = $("#mensura").hide("slow");
        y = $("#folioViejo").hide("slow");
        
        var x = $("#ipduv_tierrasbundle_terreno_mensura").click(ocultarMensura);
        //x = $("#ipduv_tierrasbundle_terreno_mensura").prop("checked", "checked"); 

        x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").prop("checked", "checked"); 
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);
    }

    function ocultarMensura()
    {
        var x = $("#ipduv_tierrasbundle_terreno_mensura:checked");
        if (x.val())
        {
            x = $("#mensura").show("slow");
            x = $("#proyectoDeLoteo").hide("slow");
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", false);             
            
        }
        else
        {   
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
            x = $("#mensura").hide("slow"); 
            x = $("#proyectoDeLoteo").show("slow");
        }
     
    }

    function ocultarFolio()
    {
        var x = $("#ipduv_tierrasbundle_terreno_poseeFolio:checked");
        if (x.val())
        {
            x = $("#folio").show("slow");
            x = $("#folioViejo").hide("slow"); 
        }
        else
        {       
            x = $("#folioViejo").show("slow");
            x = $("#folio").hide("slow"); 
        }
     
    }


</script>

{% endblock %}