{% extends "IPDUVTierrasBundle::layout.html.twig" %}

    {% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('terreno') }}">Listas de terrenos</a></li>
    <li class="active">Datos del terreno</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('terreno') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
<p>
<br>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">

                        <li class="list-group-item"><strong>Localidad:
                        {% if entity.localidadId.id != 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}
                        <li class="list-group-item"><strong>Municipio: </strong> {{ entity.municipio.nombre }}</li>
                        <li class="list-group-item"><strong>Oferente: </strong> {{ entity.oferente.nombre }}</li>
                        <li class="list-group-item"><strong>Basural:
                        {% if entity.basural == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}

                        <li class="list-group-item"><strong>Horno/Ladrilleria:
                        {% if entity.hornoLadrilleria == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}

                        <li class="list-group-item"><strong>Laguna de oxidacion:
                        {% if entity.lagunaOxidacion == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}

                        <li class="list-group-item"><strong>Alta tension: 
                        {% if entity.altaTension == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}

                        <li class="list-group-item"><strong>Antena telefonica: 
                        {% if entity.antenaTelefonica == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}


                        <li class="list-group-item"><strong>Zona inundable:
                        {% if entity.zonaInundable == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}     
                        <li class="list-group-item"><strong>Porcentaje inundable: </strong> {{ entity.porcentajeInundable }}</li>
                        <li class="list-group-item"><strong>Linea de restriccion: </strong> {{ entity.lineaRestriccion }}</li>

                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-group">

                        <li class="list-group-item"><strong>Tipo de calle: </strong> {{ entity.tipoCalle }}</li>
                        <li class="list-group-item"><strong>Transporte: </strong> {{ entity.transpCalle }}</li>                             
                        <li class="list-group-item"><strong>Calles abiertas: 
                        {% if entity.callesAbiertas  == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}


                        <li class="list-group-item"><strong>Dimension: </strong> {{ entity.dimension }}</li>
                        <li class="list-group-item"><strong>Entre calle: </strong> {{ entity.entreCalle }}</li>
                        <li class="list-group-item"><strong>Electricidad: </strong> 
                        {% if entity.electricidad  == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}

                        <li class="list-group-item"><strong>Calles abiertas: 
                        {% if entity.callesAbiertas  == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}
                        <li class="list-group-item"><strong>Cloaca: 
                        {% if entity.cloaca  == 1 %} 
                        </strong> Si</li>   
                        {% else %}
                        </strong> No</li>
                        {% endif %}                          
                        <li class="list-group-item"><strong>Expediente: </strong> {{ entity.expediente }}</li>
                        <li class="list-group-item"><strong>N catastral: </strong> cir {{ entity.ncatastral.cir }}, sec {{ entity.ncatastral.sec }}, qta {{ entity.ncatastral.qta }}, 
                        cha {{ entity.ncatastral.cha}}, mz {{ entity.ncatastral.mz }}, pc {{ entity.ncatastral.pc }}, {{ entity.ncatastral.uf}}, fra {{ entity.ncatastral.fraccion }}</li>
                        <li class="list-group-item"><strong>Direccion: </strong> {{ entity.ncatastral.direccion }}</li>

                        {% if entity.poseeFolio != '' %}

                            {% if entity.folioMatricula != '' %}
                                <li class="list-group-item"><strong>Folio: </strong> {{ entity.frmTomo }} - {{ entity.frmFolio }} - {{ entity.frmFinca }} - {{ entity.frmAnio }}</li>
                            {% else %}
                                <li class="list-group-item"><strong>Folio: </strong>{{ entity.folioMatricula}} </li>            
                            {% endif %}

                       <!--     <li class="list-group-item"><strong>Folio: </strong> {{ entity.dimension }}</li> -->
                        {% endif %}

                        {% if entity.mensura != '' %}
                            <li class="list-group-item"><strong>Mensura: </strong> {{ entity.mensura }} - {{ entity.mensDpto }} - {{ entity.mensuraPlano }} - {{ entity.mensuraAnio }}  </li>   

                            <li class="list-group-item"><strong>Proyecto de loteo: </strong> {{ entity.proyectoDeLoteo }}</li>
                            <li class="list-group-item"><strong>Descripcion: </strong> {{ entity.descripcion }}</li>
                            <li class="list-group-item"><strong>Direccion: </strong> {{ entity.direccion }}</li>
                            <li class="list-group-item"><strong>Precio: </strong> {{ entity.precio }}</li>     

                        {% endif %} 

                    </ul>
                </div>                  
            </div>
            {% if entity.observaciones.count > 0 %}

                            <h4  align="center">Observaciones/Visitas</h4>
                    
                            {% for observacion in entity.observaciones %}

                                            
                                            <div {% if observacion.tipo.id == 1 %} class="bg-info" {% else %} class="bg-success" {% endif %}style="border:1px solid black">
                                                <div style="float:right">
                                               <strong> {{ observacion.tipo.nombre }} : {{ observacion.fecha}}      </strong>  
                                            </div>
                                            <br>
                                                     {{ observacion.observacion }}
                                            </div>
                                            <br>

                            {% endfor %}       
               {% endif %}

<ul class="tags" data-prototype="
    {% filter escape %}
        {{ include('IPDUVTierrasBundle:Form:prototype.html.twig', { 'form': form1.observaciones.vars.prototype }) }}
    {% endfilter %}">
</ul>
    </p>  
    </div>
</div> 

<br>
<div class="panel panel-default">
  <div class="panel-heading">OPCIONES</div>
  
  <div class="panel-body">    
    <div align="center">
     <a href="{{ path('terreno_edit', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> EDITAR TERRENO</a>
     <a href="" class="btn btn-default"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h3 class="modal-title" id="myModalLabel">Eliminar terreno!</h3>
        </div>
        <div class="modal-body">
          <p>Seguro que desea eliminar al terreno de:  {{ entity.oferente.nombre }} {{ entity.oferente.apellido }}?</p>
          <div class="btn-group center-block">
            {{ form(delete_form) }}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block loquesea %}



                {% if entity.observaciones.count > 0 %}
                            <h4  align="center">Observaciones/Visitas</h4>
                    
                            {% for observacion in entity.observaciones %}

                                            
                                            <div class="panel panel-default">
                                                <div class="panel-heading"> 
                                                <div style="float:right">
                                               <strong> {{ observacion.tipo.nombre }} : {{ observacion.fecha}}      </strong>  
                                            </div>
                                            <br>
                                                     {{ observacion.observacion }}
                                                </div>
                                            </div>

                            {% endfor %}       
               {% endif %}


               {% if entity.observaciones.count > 0 %}
                            <h4>Observaciones/Visitas</h4>
                    
                            {% for observacion in entity.observaciones %}
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div style="float:right">
                                               <strong> {{ observacion.tipo.nombre }} : </strong>{{ observacion.fecha}}        
                                            </div>
                                            <br>
                                            <div class="panel panel-default">
                                                <div class="panel-heading"> 
                                                     {{ observacion.observacion }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                            {% endfor %}       
               {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">OBSERVACIONES</div>
        <div class="panel-body">
            <div class="row">
                <ul class="tags" data-prototype="
                 {% filter escape %}
                     {{ include('IPDUVTierrasBundle:Form:prototype.html.twig', { 'form': form.observaciones.vars.prototype }) }}
                 {% endfilter %}">
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts1 %}
{{ parent() }}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  



    <script type="text/javascript">

        
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionHolder = $('ul.tags');

        // configura una enlace "Agregar una etiqueta"
        var $addTagLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVA CONSULTA</a>');
        var $newLinkLi = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionHolder.append($newLinkLi);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>


{% endblock %}