{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenSTitulo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cir</th>
                <th>Sec</th>
                <th>Qta</th>
                <th>Cha</th>
                <th>Mz</th>
                <th>Lote</th>
                <th>Uf</th>
                <th>Fraccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('nomenstitulo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cir }}</td>
                <td>{{ entity.sec }}</td>
                <td>{{ entity.qta }}</td>
                <td>{{ entity.cha }}</td>
                <td>{{ entity.mz }}</td>
                <td>{{ entity.lote }}</td>
                <td>{{ entity.uf }}</td>
                <td>{{ entity.fraccion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('nomenstitulo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('nomenstitulo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('nomenstitulo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
