{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenSTitulo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cir</th>
                <td>{{ entity.cir }}</td>
            </tr>
            <tr>
                <th>Sec</th>
                <td>{{ entity.sec }}</td>
            </tr>
            <tr>
                <th>Qta</th>
                <td>{{ entity.qta }}</td>
            </tr>
            <tr>
                <th>Cha</th>
                <td>{{ entity.cha }}</td>
            </tr>
            <tr>
                <th>Mz</th>
                <td>{{ entity.mz }}</td>
            </tr>
            <tr>
                <th>Lote</th>
                <td>{{ entity.lote }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ entity.uf }}</td>
            </tr>
            <tr>
                <th>Fraccion</th>
                <td>{{ entity.fraccion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nomenstitulo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nomenstitulo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
