{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme edit_form 'IPDUVTierrasBundle:Form:expediente.theme.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('expediente') }}">Listas de expedientes</a></li>
    <li class="active">Nuevo expediente</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('expediente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
    {{ form(edit_form) }}

    <br>
    <br>

<div class="panel panel-default">
    <div class="panel-heading">DATOS DEL LOS TERRENOS</div>
    <input type="hidden" value="{{ entity.id }}" id="expediente_id" >
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="table_terrenos"  class="display" cellspacing="0" width="100%" >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Catastral</th>
                            <th>Inundable</th>
                            <th>Rest</th>
                            <th>Ver/Editar</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts1 %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  
<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);

function inicializarEventos()
{   limpiar();
	valor1();

		listarObservaciones();
    var y = x;
        
        x = $("#js-data-example-ajax").change(valor);
}


function limpiar()
{        
    $.ajax({  

            async:true,
            cache:false,
            url: Routing.generate('lista_ajax'),  
            success: function(data){
            console.log(data);
           // var x = $("#ipduv_tierrasbundle_terreno_programa");
            

            $("#js-data-example-ajax").select2({
              data: data
            })

            } 
        });
}

function valor()
    {
      x = $('#ipduv_tierrasbundle_expediente_oferente').find('option').remove().end();
      var dni = x=$("#js-data-example-ajax").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_expediente_oferente").select2({
                  data: data
                })
                } 
            });
    }

function valor1()
    {
      x = $('#ipduv_tierrasbundle_expediente_oferente').find('option').remove().end();
      var dni = '1';
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_expediente_oferente").select2({
                  data: data
                })
                } 
            });
    }



function listarObservaciones()
    {
        //debugger;
        //$('#table_id').DataTable();
        var elemento = $('#table_terrenos thead th');
        var cont = elemento.length - 2;
        var id = $("#expediente_id").val();
        elemento.each( function () {
            var title = $('#table_terrenos thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );

            cont = cont-1;
            if (cont == 0)
            {
                return false;
            }
        } );

        


        
        // DataTable
        var table = $('#table_terrenos').DataTable({
            "ajax" : Routing.generate('traer_terrenos', { id: id }),
             "order": [[ 0, "asc" ]],
             "language": {
             "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
              "columns": [
                    { "data": "Id", "visible": false},
                    { "data": "Catastral" , "visible": true},
                    { "data": "Inundable" , "visible": true},
                    { "data": "Rest" , "visible": true},
                    {
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            var url = "{{ path('terreno_edit',{'id': 'IDPROG'}) }}";
                            var urldef = url.replace('IDPROG',data.Id);
                        //debugger;
                        return "<a class='btn btn-primary' href='" + urldef+ "''> <span class='glyphicon glyphicon-home'></span>"
                        ;}

            
                    },
                    {
                        "data": null,
                        "visible": false,
                        "render": function ( data, type, full, meta ) {
                            var url = "{{ path('terreno_show',{'id': 'IDPROG'}) }}";
                            var urldef = url.replace('IDPROG',data.Id);
                        //debugger;
                        return "<a class='btn btn-primary' href='" + urldef+ "''> <span class='glyphicon glyphicon-home'></span>"
                        ;}

            
                    }
            ], 
        });
     
        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            //debugger;
            $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );
    }
</script>

{% endblock %}	