{% extends "IPDUVTierrasBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li class="active">Lista de expedientes</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('expediente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
<br>
<br>
<a href="{{ path('expediente_new') }}" class="btn btn-small btn-default"><i class="glyphicon glyphicon-plus"></i> NUEVO EXPEDIENTE</a>
<br>
<br>
   <table id="table_id"  class="display" cellspacing="0" width="100%" >
    <thead>
        <tr>
                <th>Expediente</th>
                <th>Cantidad</th>
                <th>Modificar</th>
                <th>Terrenos</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.exp1 }} - {{ entity.exp2 }} - {{ entity.exp3 }} - {{ entity.exp4 }}</td>
                <td>{{ entity.cantidad }}</td>
<td><a class="btn btn-primary" href="{{ path('expediente_edit', { 'id': entity.id }) }}"> <span class="glyphicon glyphicon-pencil"></span> </td>
 <td><a class="btn btn-primary" href="{{ path('expediente_show', { 'id': entity.id }) }}"> <span class="glyphicon glyphicon-home"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <!-- jQuery -->

    <script src="{{asset('js/')}}jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>  

    <script type="text/javascript">
$(document).ready( function () {
    //$('#table_id').DataTable();
    var elemento = $('#table_id thead th');
    var cont = elemento.length - 2;
    elemento.each( function () {
        debugger;
        var title = $('#table_id thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );

        cont = cont-1;
        if (cont == 0)
        {
            return false;
        }
    } );
    
    // DataTable
    var table = $('#table_id').DataTable({
         "order": [[ 0, "asc" ]],
         "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
          "columnDefs": [
            { "visible": true,  "targets": [ 0 ] },
        ], 
    });
 
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        //debugger;
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
} );  
</script>

{% endblock %}