{% extends "IPDUVTierrasBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTierrasBundle:Form:expediente.theme.html.twig' %}


{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('expediente') }}">Listas de expedientes</a></li>
    <li class="active">Nuevo expediente</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('expediente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
    {{ form(form) }}

    <!-- Modal -->
<div class="modal fade" id="modalAgregarOferente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL OFERENTE</h4>
      </div>
      <form  id="nuevoOberente" method="post" >
      <div class="modal-body">
      <div id="msjAgregarOferente"></div>
      <ul class="list-group">

      <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Rol:
                    </div>
                    <div class="col-md-10">
                        <select name="rol" id="rol" class="form-control" > 
                        <option value="1">Cooperativa</option>
                        <option value="2">Municipio</option>
                        <option value="3">Particular</option>
                        <option value="4">Licitacion</option>
                    </select> 
                    </div>
                </div>
            </li>


            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Rubro:
                    </div>
                    <div class="col-md-10">
                        <input id="rubro" name="rubro" type="text" class="form-control" >
                    </div>
                </div>
            </li>

            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Razon:
                    </div>
                    <div class="col-md-10">
                        <input id="razon" name="razon" type="text" class="form-control" >
                    </div>
                </div>
            </li>

            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Doc/CUIT:
                    </div>
                    <div class="col-md-10">
                        <input id="cuit" name="cuit" type="text" class="form-control" >
                    </div>
                </div>
            </li>

            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Apellido:
                    </div>
                    <div class="col-md-10">
                        <input id="apellido" name="apellido" type="text"  class="form-control">
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Nombre:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Télefono:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="telefono" name="telefono" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Correo:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="email" name="email" >
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Direccion:
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="direccion" name="direccion" >
                    </div>
                </div>
            </li>
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts1 %}
{{ parent() }}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  

<script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);

function inicializarEventos()
{   limpiar();
	valor1();
    nuevoBeneficiario();
    var y = x;
        
        x = $("#js-data-example-ajax").change(valor);
}


function limpiar()
{        
    $.ajax({  

            async:true,
            cache:false,
            url: Routing.generate('lista_ajax'),  
            success: function(data){
            console.log(data);
           // var x = $("#ipduv_tierrasbundle_terreno_programa");
            

            $("#js-data-example-ajax").select2({
              data: data
            })

            } 
        });
}

function valor()
    {
      x = $('#ipduv_tierrasbundle_expediente_oferente').find('option').remove().end();
      var dni = x=$("#js-data-example-ajax").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_expediente_oferente").select2({
                  data: data
                })
                } 
            });
    }

function valor1()
    {
      x = $('#ipduv_tierrasbundle_expediente_oferente').find('option').remove().end();
      var dni = '1';
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_expediente_oferente").select2({
                  data: data
                })
                } 
            });
    }

    //modalAgregarBeneficiario

    function nuevoBeneficiario(){
$("#nuevoOberente").on('submit',(function(e) {
    e.preventDefault();
    $.ajax({
    url: Routing.generate('post_ajax_oferente'), //"ajax_php_file.php", // Url to which the request is sendY
    type: "POST",             // Type of request to be send, called as method
    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
    contentType: false,       // The content type used when sending data to the server.
    cache: false,             // To unable request pages to be cached
    processData:false,        // To send DOMDocument or non processed data file it is set to false
    success: function(data)   // A function to be called if request succeeds
    {
        
        // debugger;
        // $('#documento').val(data.Documento);
        // $('#nombre').val(data.Nombre);
        // $('#apellido').val(data.Apellido);
        // $('#email').val(data.Email);
        // $('#telefono').val(data.Telefono);
        // $('#direccion').val(data.direccion);

         $("#msjAgregarOferente").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
         $("#msjAgregarOferente").fadeIn(1000);
         $("#msjAgregarOferente").fadeOut(2000, function(){
             $('#modalAgregarOferente').modal('hide');
             $('#id').val("");
             $('#rol').val("");
             $('#rubro').val("");
             $('#razon').val("");
             $('#cuit').val("");
             $('#apellido').val("");
             $('#nombre').val("");
             $('#telefono').val("");
             $('#correo').val("");
             $('#direccion').val("");
             $('#nombre').val("");
             valor1();
        });            
    }
});
}));
}

</script>

{% endblock %}	