{% extends "IPDUVTierrasBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="pull-left">
    <ol class="breadcrumb">
    <li><a href="{{ path('expediente') }}">Listas de expedientes</a></li>
    <li class="active">Expediente Numero: {{ entity.exp1 }}-{{ entity.exp2 }}-{{ entity.exp3 }}-{{ entity.exp4 }}</li>
    </ol>
</div>

<div class="pull-right">
    <a href="{{ path('expediente') }}" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> VOLVER</a>
</div>
{% endblock %}

{% block content -%}
<br>
<div class="panel panel-default" id="expediente">
    <div class="panel-heading">DATOS DEL EXPEDIENTE</div>
    <div class="panel-body">
            <input type="hidden" value="{{ entity.id }}" id="expediente_id" >
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Expediente: </strong> {{ entity.exp1 }}-{{ entity.exp2 }}-{{ entity.exp3 }}-{{ entity.exp4 }}</li>  
                        <li class="list-group-item"><strong>Tipo: </strong> {{ entity.oferente.rol.nombre }}</li>
                        <li class="list-group-item"><strong>Cantidad de terrenos: </strong> {{ entity.cantidad }}</li>
                    </ul>
                </div>

                <div class="col-md-6">
                     <ul class="list-group">
                        <li class="list-group-item"><strong>Programa: </strong> {{ entity.programa.nombre }}</li>    
                        <li class="list-group-item"><strong>Entidad: </strong> {{ entity.oferente.nombre }}</li>
                    </ul>
                </div>
                    
            </div>
    </div>
</div>

            <br>
            <br>


<div class="panel panel-default">
    <div class="panel-heading">DATOS DEL LOS TERRENOS</div>
    <div class="panel-body">
    <a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarTerreno"><span class="glyphicon glyphicon-plus"></span> NUEVO TERRENO </a>
            <br><br>

        <div class="row">
            <div class="col-md-12">
                <table id="table_terrenos"  class="display" cellspacing="0" width="100%" >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Estado</th>
                            <th>Catastral</th>
                            <th>Inundable</th>
                            <th>Rest</th>
                            <th>Ver/Editar</th>
                            <th>Baja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade borrar-bene" id="modalAgregarTerreno" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Terreno</h4>
      </div>
      <div class="modal-body">
      <div id="msjAgregarTerreno"></div>
    <form id="agregarTerreno" action="post" >
      <input id="idExpediente" name="idExpediente" type="hidden" value="">

        <div class="form-group">
        <div id="message_pemuta"></div>

          <h5 for="recipient-name" class="control-label">Esta seguro que desea agregar un nuevo terreno?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-home"> AGREGAR</i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade borrar-terreno" id="modalBorrarTerreno" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Terreno</h4>
      </div>
      <div class="modal-body">
      <div id="msjBajaTerreno"></div>
    <form id="borrarTerreno" action="post" >
      <input id="idEliminarTerreno" name="idEliminarTerreno" type="hidden" value="">
      <input id="valorEliminarTerreno" name="valorEliminarTerreno" type="hidden" value="">
        <div class="form-group">
          <h5 for="recipient-name" class="control-label">Esta seguro que desea dar cambiar el terreno?</h5>
          <div class="form-group">
            <label for="message-text" class="control-label" >Motivo:</label>
            <textarea id="motivo" name="motivo" class="form-control" ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-remove">ACEPTAR</i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}

{% block javascripts1 %}

    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    

    function inicializarEventos()
    {
        listarObservaciones();
    }

    function listarObservaciones()
    {
        //debugger;
        //$('#table_id').DataTable();
        var elemento = $('#table_terrenos thead th');
        var cont = elemento.length - 2;
        var id = $("#expediente_id").val();
        elemento.each( function () {
            var title = $('#table_terrenos thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );

            cont = cont-1;
            if (cont == 0)
            {
                return false;
            }
        } );

        


        
        // DataTable
        var table = $('#table_terrenos').DataTable({
            "ajax" : Routing.generate('traer_terrenos', { id: id }),
             "order": [[ 0, "asc" ]],
             "language": {
             "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
              "columns": [
                    { "data": "Id", "visible": false},
                    {
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                        //debugger;
                        if(data.Baja == 0 ){
                            return "<i class='glyphicon glyphicon-ok-circle' style='color:greenyellow' ></i>";
                        }else{
                            return "<i class='glyphicon glyphicon-remove-circle' style='color:red'></i>";
                        }
                        }
           
                    },
                    { "data": "Catastral" , "visible": true},
                    { "data": "Inundable" , "visible": true},
                    { "data": "Rest" , "visible": true},
                    {
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            var url = "{{ path('terreno_edit',{'id': 'IDPROG'}) }}";
                            var urldef = url.replace('IDPROG',data.Id);
                        //debugger;
                        return "<a class='btn btn-primary' href='" + urldef+ "''> <span class='glyphicon glyphicon-home'></span>"
                        ;}

            
                    },

                    {
                    "data": null,
                    "render": function ( data, type, full, meta ) {
                        var url = "{{ path('beneficiario_edit',{'id': 'IDPROG'}) }}";

                  //  return "<a class='btn btn-primary' href='" + urldef+ "''> <span class='glyphicon glyphicon-pencil'></span>"
                  return "<button id='btnB' type='button' class='btn btn-primary' data-toggle='modal' data-target='#modalBorrarTerreno'data-whatever='"+data.Id+"'><i class='glyphicon glyphicon-remove'></i></button>"

                    ;}

        
                }
            ], 
        });
     
        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );
    }

    $("#agregarTerreno").on('submit',(function(e) {
         var div = $('#expediente');
         var id_bene = div.find(':input[id^="expediente_id"]').val();
                        e.preventDefault();                    
                    $.ajax({
                    url: Routing.generate('post_ajax_terreno', { id: id_bene}), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                            $("#msjAgregarTerreno").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                            $("#msjAgregarTerreno").fadeIn(1000);
                            $("#msjAgregarTerreno").fadeOut(2000, function(){
                                 $('#modalAgregarTerreno').modal('hide');
                                 recargarTerreno();
                            });
        
                             
                        }
                    });
     }));
function recargarTerreno(data){
    var div = $('#expediente');
         var id_bene = div.find(':input[id^="expediente_id"]').val();
    var table = $('#table_terrenos').DataTable();
    table.ajax.url(Routing.generate('traer_terrenos', { id: id_bene})).load();
    //$('#myModal').modal('hide');
}

$('#modalBorrarTerreno').on('shown.bs.modal', function (event) {
           var button = $(event.relatedTarget); 
           var recipient = button.data('whatever');
           $.ajax({
              url: Routing.generate('unterreno', { id: recipient }), 
              type: "GET",
              contentType: false,
              cache: false,
              processData:false,
              success: function(data)
              {
                var div = $('#modalBorrarTerreno');
                div.find(':input[id^="idEliminarTerreno"]').val(data.Id);
                if(data.Baja == 1){
                    div.find(':input[id^="valorEliminarTerreno"]').val(0);
                  }else{
                    div.find(':input[id^="valorEliminarTerreno"]').val(1);
                  }
              }
      });
});



     $("#borrarTerreno").on('submit',(function(e) {
         var div = $('#borrarTerreno');
         var id_bene = div.find(':input[id^="idEliminarTerreno"]').val();
         var id_bene1 = div.find(':input[id^="valorEliminarTerreno"]').val();
                        e.preventDefault();                    
                    $.ajax({
                    url: Routing.generate('edit_ajax_terreno', { id: id_bene}), 
                    type: "POST",             
                    data: new FormData(this),
                    contentType: false,       
                    cache: false,             
                    processData:false,        
                    success: function(data){
                      $("#msjBajaTerreno").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                      $("#msjBajaTerreno").fadeIn(1000);
                      $("#msjBajaTerreno").fadeOut(2000, function(){
                         $('#modalBorrarTerreno').modal('hide');
                         $('#id').val("");
                         var div = $('#modalBorrarTerreno');
                         div.find(':input[id^="idEliminarTerreno"]').val('');
                         div.find(':input[id^="valorEliminarTerreno"]').val('');
                         div.find(':input[id^="motivo"]').val('');
                         recargarTerreno();
                      });
        
                             
                    }
                    });
     }));


</script>

{% endblock %}





