{% block ipduv_tierrasbundle_expediente_widget %}
<br>
<div class="panel panel-default">
		<div class="panel-heading">DATOS DEL TERRENO</div>
		<div class="panel-body">
	  		<div class="row">
	  			<div class="col-md-1">
					 {{ form_label(form.exp1) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.exp1) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.exp2) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.exp2) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.exp3) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.exp3) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.exp4) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.exp4) }}
				</div>
	  		
			    <div class="col-md-1">
					 {{ form_label(form.programa) }}
				</div>

				<div class="col-md-3">
					 {{form_widget(form.programa) }}	
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					 <label class="control-label">Tipo:</label>
				</div>
				<div class="col-md-3">
					 <select id="js-data-example-ajax" style = "width: 100%;" class="form-control">
					</select>
				</div>

				<div class="col-md-1">
						 {{ form_label(form.oferente) }}
				</div>

				<div class="col-md-3">
					 {{form_widget(form.oferente) }}
				</div>

				<div class="col-md-2">
				<a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarOferente"><span class="glyphicon glyphicon-plus"></span> AGREGAR </a>
				</div>

				<div class="col-md-1">
						 {{ form_label(form.cantidad) }}
				</div>

				<div class="col-md-1">
					 {{form_widget(form.cantidad) }}
				</div>
			</div>
			<br>
		
		</div>		
	</div>


    
			
<div class="pull-right" >
	{{ form_row(form.submit) }}
</div>	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  
	
    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);

    function inicializarEventos()
    {
       listarLocalidad();
        var y = x;
        y = $("#divmensura").hide("slow");
        y = $("#divfolioViejo").hide("slow");  
        var x = $("#mensura").click(ocultarMensura);

        x = $("#poseeFolio").click(ocultarFolio);

        x = $("#proyectoDeLoteo").prop("checked", "checked");  
        x = $("#poseeFolio").prop("checked", "checked"); 
        x = $("#poseeFolio").click(ocultarFolio);
    }

    function listarLocalidad()
    {
      x = $('#localidad').find('option').remove().end();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_localidad'),  
                success: function(data){          
                $("#localidad").select2({
                  data: data
                })
                } 
            });
    }

    function limpiar()
    {        
        $.ajax({  

                async:true,
                cache:false,
                url: Routing.generate('lista_ajax'),  
                success: function(data){
                console.log(data);
               // var x = $("#ipduv_tierrasbundle_terreno_programa");
                

                $("#js-data-example-ajax").select2({
                  data: data
                })

                } 
            });
    }

    function ocultarMensura()
    {
        var x = $("#mensura:checked");
        if (x.val())
        {
            x = $("#divmensura").show("slow");
            x = $("#divproyectoDeLoteo").hide("slow");
            x = $("#proyectoDeLoteo").prop("checked", false);             
            
        }
        else
        {   
            x = $("#proyectoDeLoteo").prop("checked", "checked");  
            x = $("#divmensura").hide("slow"); 
            x = $("#divproyectoDeLoteo").show("slow");
        }
     
    }

    function ocultarFolio()
    {
        var x = $("#poseeFolio:checked");
        if (x.val())
        {
            x = $("#divfolio").show("slow");
            x = $("#divfolioViejo").hide("slow"); 
        }
        else
        {       
            x = $("#divfolioViejo").show("slow");
            x = $("#divfolio").hide("slow"); 
        }
     
    }

    function nuevoBeneficiario()
    {
        $("#nuevoBeneficiario").on('submit',(function(e) {
                        

                    e.preventDefault();
                    


                    $.ajax({
                    url: Routing.generate('post_ajax_beneficiario'), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                        alert(data.resultado);
                        // debugger;
                        // $('#documento').val(data.Documento);
                        // $('#nombre').val(data.Nombre);
                        // $('#apellido').val(data.Apellido);
                        // $('#email').val(data.Email);
                        // $('#telefono').val(data.Telefono);
                        // $('#direccion').val(data.direccion);

                        // $("#message").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                        // $("#message").fadeIn(1000);
                        // $("#message").fadeOut(2000, function(){
                        //     $('#myModal').modal('hide');
                        //     cleanField();
                        // });

                        // recargarViviendas(data);
                    }
                });
                }));
    }

    function nuevaObservacion()
    {
        $("#nuevaObservacion").on('submit',(function(e) {
                        

                    e.preventDefault();                    
                    $.ajax({
                    url: Routing.generate('post_ajax_observacion'), //"ajax_php_file.php", // Url to which the request is sendY
                    type: "POST",             // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false,       // The content type used when sending data to the server.
                    cache: false,             // To unable request pages to be cached
                    processData:false,        // To send DOMDocument or non processed data file it is set to false
                    success: function(data)   // A function to be called if request succeeds
                    {
                        alert(data.resultado);
                        // debugger;
                        // $('#documento').val(data.Documento);
                        // $('#nombre').val(data.Nombre);
                        // $('#apellido').val(data.Apellido);
                        // $('#email').val(data.Email);
                        // $('#telefono').val(data.Telefono);
                        // $('#direccion').val(data.direccion);

                        // $("#message").html("<div class='alert alert-success' role='alert'>"+data.Mensaje+"</div>");
                        // $("#message").fadeIn(1000);
                        // $("#message").fadeOut(2000, function(){
                        //     $('#myModal').modal('hide');
                        //     cleanField();
                        // });

                        // recargarViviendas(data);
                    }
                });
                }));
    }

</script>


{% endblock %}