{% block ipduv_tierrasbundle_oferente_widge1t %}
    <br>
				    <div class="row">
			 	  		<div class="col-md-2">
							 {{ form_label(form.rol) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.rol) }}
						</div>

		            	<div class="col-md-2">
							 {{ form_label(form.nombre) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.nombre) }}
						</div>

						<div class="col-md-2">
							 {{ form_label(form.apellido) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.apellido) }}
						</div>
					</div>

					<div class="row">
					<br>
						<div class="col-md-2">
							 {{ form_label(form.documento) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.documento) }}
						</div>


						<div class="col-md-2">
							 {{ form_label(form.email) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.email) }}
						</div>

						<div class="col-md-2">
							 {{ form_label(form.direccion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.direccion) }}
						</div>

		            </div>

		            <br>

		            <div class="row">

		            	<div class="col-md-2">
							 {{ form_label(form.telefono) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.telefono) }}
						</div>

						<div class="col-md-2">
							 {{ form_label(form.relacion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.relacion) }}
						</div>

			            <div class="col-md-2">
							 {{ form_label(form.cargo) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.cargo) }}
						</div>

		            </div>

		            <div class="row" id="municipio"> 
		            <br>  
						<div class="col-md-2">
							 {{ form_label(form.rubro) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.rubro) }}
						</div>
		            
						<div class="col-md-2">
							 {{ form_label(form.reparticion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.reparticion) }}
						</div>

						<div class="col-md-2">
							 {{ form_label(form.municipio) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.municipio) }}
						</div>
		            </div>	 

		            <div class="row">
		            <br>
			            <div class="col-md-2">
							 {{ form_label(form.cuit) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.cuit) }}
						</div>

						<div class="col-md-2">
							 {{ form_label(form.razon) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.razon) }}
						</div>
						<div class="pull-right" >
							{{ form_row(form.submit) }}
		        	    </div>
					</div>
{% endblock %}


{% block ipduv_tierrasbundle_oferente_widget %}
    <br>
	
			    <div class="row">
					<div class="panel panel-default">
				    	<div class="panel-heading">DATOS PERSONALES</div>
						  <div class="panel-body">
							    <div class="row">
						 	  		<div class="col-md-1">
										 {{ form_label(form.rol) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.rol) }}
									</div>

									<div class="col-md-1">
										 {{ form_label(form.razon) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.razon) }}
									</div>

					            	<div class="col-md-1">
										 {{ form_label(form.nombre) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.nombre) }}
									</div>

									<div class="col-md-1">
										 {{ form_label(form.apellido) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.apellido) }}
									</div>
								
							<br><br><br>
									
									<div class="col-md-1">
									 {{ form_label(form.documento) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.documento) }}
									</div>
									<div class="col-md-1">
										 {{ form_label(form.cargo) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.cargo) }}
									</div>
								</div>
							</div>
						</div>	
					<br>
						
					<div class="panel panel-default">
				    	<div class="panel-heading">INFORMACION DE CONTACTO</div>
						  <div class="panel-body">
							    <div class="row">
									<div class="col-md-1">
										 {{ form_label(form.email) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.email) }}
									</div>

					            	<div class="col-md-1">
										 {{ form_label(form.telefono) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.telefono) }}
									</div>

									<div class="col-md-1">
										 {{ form_label(form.direccion) }}
									</div>
									<div class="col-md-3">
										 {{form_widget(form.direccion) }}
									</div>

					            </div>
				            </div>
			            </div>

		            <br>

		 <div class="panel panel-default" id="municipio" style="display: none;">>
				    	<div class="panel-heading">INFORMACION RELEVANTE</div>
						  <div class="panel-body">
							    <div class="row">
						            	<div class="col-md-1">
											 {{ form_label(form.rubro) }}
										</div>
										<div class="col-md-3">
											 {{form_widget(form.rubro) }}
										</div>

										<div class="col-md-2">
											 {{ form_label(form.reparticion) }}
										</div>
										<div class="col-md-2">
											 {{form_widget(form.reparticion) }}
										</div>
											
										<div class="col-md-1">
											 {{ form_label(form.relacion) }}
										</div>	
										<div class="col-md-2">
											 {{form_widget(form.relacion) }}
										</div>	
								</div>					
								
								<br>
								
								<div class="row">
					            	<div class="col-md-1">
										 {{ form_label(form.cuit) }}
									</div>
									<div class="col-md-2">
										 {{form_widget(form.cuit) }}
									</div>
								</div>

		         			   </div>	
	         			</div>
     		</div> 

						
						<div class="pull-right" >
							{{ form_row(form.submit) }}
		        	    </div>
					</div>

{% endblock %}