<br>
<div class="panel panel-default">
    <div class="panel-heading">NUEVO BENEFICIARIO</div>
    <div class="panel-body">
    	<div class="row">
			<div class="col-md-2">
				 {{ form_label(form.documento) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.documento) }}
			</div>

			<div class="col-md-2">
				 {{ form_label(form.nombre) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.nombre) }}
			</div>

			<div class="col-md-2">
				 {{ form_label(form.apellido) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.apellido) }}
			</div>
		</div>

		<br>
		
		<div class="row">
			<div class="col-md-2">
				 {{ form_label(form.direccion) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.direccion) }}
			</div>
			<div class="col-md-2">
				 {{ form_label(form.email) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.email) }}
			</div>

			<div class="col-md-2">
				 {{ form_label(form.telefono) }}
			</div>
			<div class="col-md-2">
				 {{form_widget(form.telefono) }}
			</div>
		</div>    	
			
    </div>
</div>




<script type="text/javascript">

x.ready(inicializarEventos);

function inicializarEventos()
{   
    x = $("#js-data-example-ajax").focusout(verificarAjax);
}

function verificarAjax(){
var dni = x=$("#ipduv_turnadorbundle_cliente_dni").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax_cliente', { dni: dni }),  
                success: function(data){          
                  if(data.valor == "true")
                  {
                    console.log('El documento es valido');
                    $('#verificacion').html( '<span class="glyphicon glyphicon-ok" style="color:green"></span>');
                     document.location.href=dni + '/edit';               
                  }
                  else
                  {
                    console.log('El documento no es valido');
                    $('#verificacion').html( '<span class="glyphicon glyphicon-remove" style="color:red"></span>');
                  }
                  
                } 
            });

}

</script>