    <div class="row">
		<div class="col-md-1">
			 {{ form_label(form.localidadId) }}
		</div>
		<div class="col-md-4">
			{{form_widget(form.localidadId) }}
		</div>
	</div>
	<br>

    
    <div class="panel panel-default">
			<div class="panel-heading">NOMENCLATURA SEGUN CATASTRO</div>
		<div class="panel-body">
		  		<div class="row">
					<div class="col-md-1">
						 {{ form_label(form.ncatastral.cir) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.cir) }}
					</div>
				
					<div class="col-md-1">
						 {{ form_label(form.ncatastral.sec) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.sec) }}
					</div>

					<div class="col-md-1">
							 {{ form_label(form.ncatastral.fraccion) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.fraccion) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.ncatastral.qta) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.qta) }}	
					</div>

					<div class="col-md-1">
						 {{ form_label(form.ncatastral.cha) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.cha) }}
					</div>

					<div class="col-md-1">
						  {{ form_label(form.ncatastral.mz) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.mz) }}
					</div>
			</div>

			<br>
	
			<div class="row">

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.pc) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.ncatastral.pc) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.uf) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.ncatastral.uf) }}
				</div>			

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.direccion) }}
				</div>
				<div class="col-md-4">
					 {{form_widget(form.ncatastral.direccion) }}
				</div>

				<div class="col-md-1">
					  {{ form_label(form.municipio) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.municipio) }}
				</div>	

			</div>
  		</div>
		</div>

	<div class="panel panel-default">
	    <div class="panel-heading">CUESTIONES AMBIENTALES</div>
	    <div class="panel-body">
	  		<div class="row">
		    	<div class="col-md-2">
					 {{ form_label(form.basural) }}
				</div>
				<div class="col-md-1">
		    		 {{form_widget(form.basural) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.hornoLadrilleria) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.hornoLadrilleria) }}
				</div>

				<div class="col-md-2">
					 {{ form_label(form.lagunaOxidacion) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.lagunaOxidacion) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.altaTension) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.altaTension) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.antenaTelefonica) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.antenaTelefonica) }}
				</div>
			</div>
		</div>			
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">RESTRICCIONES DEL APA</div>
	    <div class="panel-body">
			<div class="row">
				<div class="col-md-2">
						 {{ form_label(form.zonaInundable) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.zonaInundable) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.porcentajeInundable) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.porcentajeInundable) }}
				</div>

				<div class="col-md-2">
					 {{ form_label(form.lineaRestriccion) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.lineaRestriccion) }}
				</div>
			</div>
		</div>			
	</div>

	<div class="panel panel-default">
	 	<div class="panel-heading">NEXOS DE INFRAESTRUCTURA</div>
		<div class="panel-body">
			<div class="row">
	  			<div class="col-md-2">
					 {{ form_label(form.electricidad) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.electricidad) }}
				</div>

				<div class="col-md-2">
					 {{ form_label(form.callesAbiertas) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.callesAbiertas) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.agua) }}
					
				</div>
				<div class="col-md-1">
					{{form_widget(form.agua) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.cloaca) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.cloaca) }}					
				</div>

			</div>
		</div>			
	</div>

    <div class="row">
		<div class="col-md-2">
			 {{ form_label(form.entreCalle) }}
		</div>
		<div class="col-md-1">
			 {{form_widget(form.entreCalle) }}
		</div>
		<div class="col-md-2">
			  {{ form_label(form.transpCalle) }}
		</div>
		<div class="col-md-1">
			 {{form_widget(form.transpCalle) }}
		</div>
		
		<div class="col-md-2">
			 {{ form_label(form.dimension) }}
		</div>
		<div class="col-md-1">
			{{form_widget(form.dimension) }}	
		</div>

		<div class="col-md-1">
			 {{ form_label(form.tipoCalle) }}
		</div>
		<div class="col-md-2">
			{{form_widget(form.tipoCalle) }}	
		</div>
	</div>

	<br>

	<div class="panel panel-default">
			<div class="panel-heading">NOMENCLATURA SEGUN TITULO</div>
  		<div class="panel-body">
		    <div class="row">
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cir) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.cir) }}
				</div>
			
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.sec) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.sec) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.fraccion) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.fraccion) }}
				</div>		

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.qta) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.qta) }}	
				</div>	

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cha) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.cha) }}
				</div>

				<div class="col-md-1">
					  {{ form_label(form.nomenSTitulo.mz) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.mz) }}
				</div>			

			</div>

			<br>
	

			<div class="row">
				<div class="col-md-1">
				     {{ form_label(form.nomenSTitulo.lote) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.lote) }}
				</div>	

				<div class="col-md-1">
						{{ form_label(form.nomenSTitulo.loteR) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.loteR) }}
				</div>	

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.uf) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.uf) }}
				</div>

				<div class="col-md-1">
						 {{ form_label(form.nomenSTitulo.direccion) }}
				</div>
				<div class="col-md-4">
						 {{form_widget(form.nomenSTitulo.direccion) }}
				</div>
			</div>	

	    </div>
	</div>
    	

	<div class="panel panel-default">
	    <div class="panel-heading">FOLIO REAL MATRICULA</div>
	    <div class="panel-body">
		    <div class="row">
				<div class="col-md-2">
					 {{ form_label(form.poseeFolio) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.poseeFolio) }}
				</div>
				<div class="col-md-2" id="folio">
					 {{form_widget(form.folioMatricula) }}
				</div>

				<div id="folioViejo">
					<div class="col-md-1">
						 {{form_widget(form.frmTomo) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmFolio) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmFolio) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmFinca) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmFinca) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmAnio) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmAnio) }}
					</div>
				</div>
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
			 {{ form_label(form.mensura) }}
		</div>
		<div class="col-md-1">
			{{form_widget(form.mensura) }}
		</div>	
		<div id="mensura">
			<div class="col-md-1">
				{{ form_label(form.mensDpto) }}
			</div>
			<div class="col-md-1">
				{{ form_widget(form.mensDpto) }}
			</div>
			<div class="col-md-1">
				{{ form_label(form.mensPlano) }}
			</div>
			<div class="col-md-1">
				{{ form_widget(form.mensPlano) }}
			</div>
			<div class="col-md-1">
				{{ form_label(form.mensAnio) }}
			</div>
			<div class="col-md-1">
				{{ form_widget(form.mensAnio) }}
			</div>
		</div>
		<div id="proyectoDeLoteo">
			<div class="col-md-2">
				 {{ form_label(form.proyectoDeLoteo) }}
			</div>
			<div class="col-md-1">
				{{form_widget(form.proyectoDeLoteo) }}
		    </div>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-md-2">
			 {{ form_label(form.descripcion) }}
		</div>
		<div class="col-md-6">
			{{form_widget(form.descripcion) }}	
		</div>
		<div class="col-md-1">
			 {{ form_label(form.precio) }}
		</div>
		<div class="col-md-1">
			{{form_widget(form.precio) }}
		</div>
	</div>



	<br>
				            
	    
	    <br>
	    <div class="panel panel-default">
	   	    <div class="panel-heading">OBSERVACIONES</div>
		    <div class="panel-body">

		  			{% for observacion in form.observaciones %}
				     <div class="row">
				    	<div class='col-md-2'>
				            {{ form_label(observacion.tipo) }}
				        </div>
				        <div class='col-md-3'>
		                    {{ form_widget(observacion.tipo) }}       
		   		        </div>
		   		        
				    	<div class='col-md-2'>
				            {{ form_label(observacion.fecha) }}
				        </div>
				        <div class='col-md-3'>
					        <div class="form-group">
				                <div class='input-group date' id='datetimepicker1' >
				                    	{{ form_widget(observacion.fecha) }}
					                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				                </div>
				            </div>
				        </div>	        
		    		</div>

				    <br>
					<div class="row">
				    	<div class="col-md-2">
							 {{ form_label(observacion.observacion) }}
						</div>
						<div class="col-md-10">
							 {{form_widget(observacion.observacion) }}
						</div>
					</div>
					<br>
					{% endfor %}

				    <ul class="tags" data-prototype="
				        {% filter escape %}
			                {{ include('IPDUVTierrasBundle:Form:prototype.html.twig', { 'form': form.observaciones.vars.prototype }) }}
			            {% endfilter %}">
					</ul>
		
			</div>
		</div> 

		<br>
	    <div class="panel panel-default">
	   	    <div class="panel-heading">BENEFICIARIOS</div>
		    <div class="panel-body">
		  		<div class="row">
		

			    	<ul class="beneficiarios" data-prototype="
				        {% filter escape %}
			                {{ include('IPDUVTierrasBundle:Form:prototype1.html.twig', { 'form': form.beneficiarios.vars.prototype }) }}
			            {% endfilter %}">
					</ul>
			    </div>
			</div>
		</div>


<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  



    <script type="text/javascript">

        
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionHolder = $('ul.tags');

        // configura una enlace "Agregar una etiqueta"
        var $addTagLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVA CONSULTA</a>');
        var $newLinkLi = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionHolder.append($newLinkLi);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addTagForm(collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

    <script type="text/javascript">

        
        // Obtiene la ul que contiene la colección de etiquetas
        var collectionBeneficiario = $('ul.beneficiarios');

        // configura una enlace "Agregar una etiqueta"
        var $addbeneficiarioLink = $('<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-plus"><i/> NUEVO BENEFICIARIO</a>');
        var $newLinkLi1 = $('<div style="height:50px;text-align:center; margin-top:10px"></div>').append($addbeneficiarioLink);

        jQuery(document).ready(function() {
            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
            collectionBeneficiario.append($newLinkLi1);

            // cuenta las entradas actuales en el formulario (p. ej. 2),
            // la usa como índice al insertar un nuevo elemento (p. ej. 2)
            collectionBeneficiario.data('index', collectionBeneficiario.find(':input').length);

            $addbeneficiarioLink.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                addbeneficiarioForm(collectionBeneficiario, $newLinkLi1);
            });
        });

        function addbeneficiarioForm($collectionBeneficiario, $newLinkLi1) {
            // Get the data-prototype explained earlier
            var prototype = $collectionBeneficiario.data('prototype');

            // get the new index
            var index = $collectionBeneficiario.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            //var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionBeneficiario.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a beneficiario" link li
            var $newFormLi = $('<div style="margin-top:50px; margin-bottom:50px"></div>').append(newForm);
            $newLinkLi1.before($newFormLi);
            // add a delete link to the new form
            addbeneficiarioFormDeleteLink($newFormLi);
        }

        function addbeneficiarioFormDeleteLink($beneficiarioFormLi) {
            var $removeFormA = $('<div class="pull-right"><a href="#" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> ELIMINAR</a></div>');
            $beneficiarioFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the beneficiario form
                $beneficiarioFormLi.remove();
            });
        }
    </script>


     <script src="{{asset('js/')}}moment.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
     <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>
 
	
    <script type="text/javascript">
    var x;
    x = $(document);
    x.ready(inicializarEventos);
    $(function () {$('#datetimepicker1').datetimepicker();});

    function inicializarEventos()
    {
       limpiar();
        var y = x;
        y = $("#mensura").hide("slow");
        y = $("#folioViejo").hide("slow");
        
        var x = $("#ipduv_tierrasbundle_terreno_mensura").click(ocultarMensura);

        x = $("#js-data-example-ajax").change(valor);
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);

        x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").prop("checked", "checked"); 
        x = $("#ipduv_tierrasbundle_terreno_poseeFolio").click(ocultarFolio);

        x = $("#desire").hide("slow");
        x = $("#laura").hide("slow");
        {% if app.user  == 'desire' %}
        
            x = $("#desire").show("slow");

        {% elseif app.user  == 'desire' %} 

            x = $("#laura").show("slow");

        {% elseif app.user  == 'admin' %} 
             x = $("#desire").show("slow");
             x = $("#laura").show("slow");        
        {% endif %}
    }


    function valor()
    {
      x = $('#ipduv_tierrasbundle_terreno_oferente').find('option').remove().end();
      var dni = x=$("#js-data-example-ajax").val();
      $.ajax({  
                async:true,
                cache:false,
                url: Routing.generate('show_ajax', { dni: dni }),  
                success: function(data){          
                $("#ipduv_tierrasbundle_terreno_oferente").select2({
                  data: data
                })
                } 
            });
    }

    function limpiar()
    {        
        $.ajax({  

                async:true,
                cache:false,
                url: Routing.generate('lista_ajax'),  
                success: function(data){
                console.log(data);
               // var x = $("#ipduv_tierrasbundle_terreno_programa");
                

                $("#js-data-example-ajax").select2({
                  data: data
                })

                } 
            });
    }

    function ocultarMensura()
    {
        var x = $("#ipduv_tierrasbundle_terreno_mensura:checked");
        if (x.val())
        {
            x = $("#mensura").show("slow");
            x = $("#proyectoDeLoteo").hide("slow");
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", false);             
            
        }
        else
        {   
            x = $("#ipduv_tierrasbundle_terreno_proyectoDeLoteo").prop("checked", "checked");  
            x = $("#mensura").hide("slow"); 
            x = $("#proyectoDeLoteo").show("slow");
        }
     
    }

    function ocultarFolio()
    {
        var x = $("#ipduv_tierrasbundle_terreno_poseeFolio:checked");
        if (x.val())
        {
            x = $("#folio").show("slow");
            x = $("#folioViejo").hide("slow"); 
        }
        else
        {       
            x = $("#folioViejo").show("slow");
            x = $("#folio").hide("slow"); 
        }
     
    }


</script>