{% block ipduv_tierrasbundle_terreno_widget %}
<br>    

<ul id="myTabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#principal">Principal</a></li>
  <li role="presentation"><a href="#analisis">Analisis de terreno</a></li>
  <li role="presentation"><a href="#nst">Nomenclatura segun titulo</a></li>
  <li role="presentation"><a href="#observaciones">Observaciones</a></li>
  <li role="presentation"><a href="#beneficiarios">Beneficiarios</a></li>
</ul>


    <div id="principal">
			<li class="list-group-item">
		  		<div class="row">
					<div class="col-md-1">
						 {{ form_label(form.ncatastral.cir) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.cir) }}
					</div>
				
					<div class="col-md-1">
						 {{ form_label(form.ncatastral.sec) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.sec) }}
					</div>

					<div class="col-md-1">
							 {{ form_label(form.ncatastral.fraccion) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.fraccion) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.ncatastral.qta) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.qta) }}	
					</div>

					<div class="col-md-1">
						 {{ form_label(form.ncatastral.cha) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.ncatastral.cha) }}
					</div>

					<div class="col-md-1">
					 {{ form_label(form.ncatastral.uf) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.ncatastral.uf) }}
					</div>	
				</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							 {{ form_label(form.mensura) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.mensura) }}
						</div>	
						<div id="mensura">
							<div class="col-md-1">
								{{ form_label(form.mensDpto) }}
							</div>
							<div class="col-md-1">
								{{ form_widget(form.mensDpto) }}
							</div>
							<div class="col-md-1">
								{{ form_label(form.mensPlano) }}
							</div>
							<div class="col-md-1">
								{{ form_widget(form.mensPlano) }}
							</div>
							<div class="col-md-1">
								{{ form_label(form.mensAnio) }}
							</div>
							<div class="col-md-1">
								{{ form_widget(form.mensAnio) }}
							</div>
						</div>
						<div id="proyectoDeLoteo">
							<div class="col-md-2">
								 {{ form_label(form.proyectoDeLoteo) }}
							</div>
							<div class="col-md-1">
								{{form_widget(form.proyectoDeLoteo) }}
						    </div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">			
						<div class="col-md-2">
							 {{ form_label(form.dimension) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.dimension) }}	
						</div>			
						<div class="col-md-1">
							 {{ form_label(form.ncatastral.direccion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.ncatastral.direccion) }}
						</div>

						<div class="col-md-1">
							  {{ form_label(form.municipio) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.municipio) }}
						</div>	
						<div class="row">
							<div class="col-md-1">
								 {{ form_label(form.localidadId) }}
							</div>
							<div class="col-md-2">
								{{form_widget(form.localidadId) }}
							</div>
						</div>

					</div>
				</li>

				<li class="list-group-item">
					<div class="row">
						<div class="col-md-2">
							 {{ form_label(form.poseeFolio) }}
						</div>
						<div class="col-md-1">
							 {{form_widget(form.poseeFolio) }}
						</div>
						<div class="col-md-2" id="folio">
							 {{form_widget(form.folioMatricula) }}
						</div>

						<div id="folioViejo">
							<div class="col-md-1">
								 {{form_widget(form.frmTomo) }}
							</div>

							<div class="col-md-1">
								 {{ form_label(form.frmFolio) }}
							</div>
							<div class="col-md-1">
								 {{form_widget(form.frmFolio) }}
							</div>

							<div class="col-md-1">
								 {{ form_label(form.frmFinca) }}
							</div>
							<div class="col-md-1">
								 {{form_widget(form.frmFinca) }}
							</div>

							<div class="col-md-1">
								 {{ form_label(form.frmAnio) }}
							</div>
							<div class="col-md-1">
								 {{form_widget(form.frmAnio) }}
							</div>
						</div>
					</div>			
				</li>

				<li class="list-group-item">
					<div class="row">
						<div class="col-md-2">
							 {{ form_label(form.descripcion) }}
						</div>
						<div class="col-md-6">
							{{form_widget(form.descripcion) }}	
						</div>
						<div class="col-md-1">
							 {{ form_label(form.precio) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.precio) }}
						</div>
					</div>
				</li>

		</div>

	<div id="analisis" >
	  		    <li class="list-group-item">
		  		<div class="row">
			    	<div class="col-md-2">
						 {{ form_label(form.basural) }}
					</div>
					<div class="col-md-1">
			    		 {{form_widget(form.basural) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.hornoLadrilleria) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.hornoLadrilleria) }}
					</div>

					<div class="col-md-2">
						 {{ form_label(form.lagunaOxidacion) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.lagunaOxidacion) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.altaTension) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.altaTension) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.antenaTelefonica) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.antenaTelefonica) }}
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-md-2">
							 {{ form_label(form.zonaInundable) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.zonaInundable) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.porcentajeInundable) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.porcentajeInundable) }}
					</div>

					<div class="col-md-2">
						 {{ form_label(form.lineaRestriccion) }}
					</div>
					<div class="col-md-2">
						 {{form_widget(form.lineaRestriccion) }}
					</div>
				</div>
				</li>

			<li class="list-group-item">
				<div class="row">
		  			<div class="col-md-2">
						 {{ form_label(form.electricidad) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.electricidad) }}
					</div>

					<div class="col-md-2">
						 {{ form_label(form.callesAbiertas) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.callesAbiertas) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.agua) }}
						
					</div>
					<div class="col-md-1">
						{{form_widget(form.agua) }}
					</div>
					<div class="col-md-1">
						 {{ form_label(form.cloaca) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.cloaca) }}					
					</div>

				</div>
			</li>

			<li class="list-group-item">
			    <div class="row">
					<div class="col-md-2">
						 {{ form_label(form.entreCalle) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.entreCalle) }}
					</div>
					<div class="col-md-2">
						  {{ form_label(form.transpCalle) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.transpCalle) }}
					</div>
					
					

					<div class="col-md-1">
						 {{ form_label(form.tipoCalle) }}
					</div>
					<div class="col-md-2">
						{{form_widget(form.tipoCalle) }}	
					</div>
				</div>
			</li>
		</div>
		
		<br>
	    <div id="observaciones">
   				 <a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarObservacion"><span class="glyphicon glyphicon-plus"></span> NUEVA OBSERVACION </a>
		  		<div class="row">
		  		<div class="col-md-12">

				<br>
				<br>
				<table id="table_observaciones"  class="display" cellspacing="0" width="100%" >
				    <thead>
				        <tr>
					        <th>Id</th>
					        <th>Usuario</th>
				            <th>Fecha/Hora</th>
				            <th>Tipo</th>
				            <th>Observacion</th>
				            <th>Editar</th>
				        </tr>
				    </thead>
				    <tbody>
				   	   <tr>
				       </tr>
				     </tbody>
				    </table>
	
			    </div>
				</div>
		</div>

	    <div id="beneficiarios">

	    <a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarBeneficiario"><span class="
		glyphicon glyphicon-plus"></span> NUEVO BENEFICIARIO </a>
		  		<div class="row">
		  		<div class="col-md-12">

				<br>
				<br>
				<table id="table_beneficiarios"  class="display" cellspacing="0" width="100%" >
				    <thead>
				        <tr>
				            <th>Id</th>
				            <th>Estado</th>
				            <th>Documento</th>
				            <th>Nombre</th>				            
				            <th>Mz</th>
				            <th>Pc</th>
				            <th>Editar</th>		
				            <th>Baja</th>			            
						</tr>
				    </thead>
				    <tbody>
					    <tr>
				        </tr>
			        </tbody>
				    </table>
	
			    </div>
				</div>
		</div>

		<div id="nst">
		    <div class="row">
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cir) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.cir) }}
				</div>
			
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.sec) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.sec) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.fraccion) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.fraccion) }}
				</div>		

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.qta) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.qta) }}	
				</div>	

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cha) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.cha) }}
				</div>

			</div>

			<br>
	

			<div class="row">

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.uf) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.uf) }}
				</div>

				<div class="col-md-1">
						 {{ form_label(form.nomenSTitulo.direccion) }}
				</div>
				<div class="col-md-4">
						 {{form_widget(form.nomenSTitulo.direccion) }}
				</div>
			</div>	
	</div>

		
			
	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>	

{% endblock %}

prototype1.html.twig