{% block ipduv_tierrasbundle_terreno_widget %}
<br>

	<div class="panel panel-default">
	  <div class="panel-heading">DATOS DEL TERRENO</div>
		  <div class="panel-body">
		  <div class="row">
			   <div class="col-md-1">
						 {{ form_label(form.oferente) }}
				</div>

				<div class="col-md-2">
					 {{form_widget(form.oferente) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.propietario) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.propietario) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.localidadId) }}
				</div>
				<div class="col-md-3">
					{{form_widget(form.localidadId) }}
				</div>

			</div>
			<br>
		  <div class="panel panel-default">
	  			<div class="panel-heading">NOMENCLATURA SEGUN CATASTRO</div>
				  <div class="panel-body">
				  		<div class="row">
		        

						<div class="col-md-1">
							 {{ form_label(form.ncatastral.cir) }}
						</div>
						<div class="col-md-1">
							 {{form_widget(form.ncatastral.cir) }}
						</div>
					
						<div class="col-md-1">
							 {{ form_label(form.ncatastral.sec) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.ncatastral.sec) }}
						</div>

						<div class="col-md-1">
								 {{ form_label(form.ncatastral.fraccion) }}
						</div>
						<div class="col-md-1">
							 {{form_widget(form.ncatastral.fraccion) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.ncatastral.qta) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.ncatastral.qta) }}	
						</div>

						<div class="col-md-1">
							 {{ form_label(form.ncatastral.cha) }}
						</div>
						<div class="col-md-1">
							{{form_widget(form.ncatastral.cha) }}
						</div>

						<div class="col-md-1">
							  {{ form_label(form.ncatastral.mz) }}
						</div>
						<div class="col-md-1">
							 {{form_widget(form.ncatastral.mz) }}
						</div>
				</div>

			<br>
			
			<div class="row">

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.pc) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.ncatastral.pc) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.uf) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.ncatastral.uf) }}
				</div>			

				<div class="col-md-1">
					 {{ form_label(form.ncatastral.direccion) }}
				</div>
				<div class="col-md-4">
					 {{form_widget(form.ncatastral.direccion) }}
				</div>

			</div>
		  </div>
	 </div>
		  
	<div class="panel panel-default">
	  <div class="panel-heading">NOMENCLATURA SEGUN TITULO</div>
		  <div class="panel-body">

		    <div class="row">
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cir) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.cir) }}
				</div>
			
				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.sec) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.sec) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.fraccion) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.fraccion) }}
				</div>		

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.qta) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.qta) }}	
				</div>	

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.cha) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.nomenSTitulo.cha) }}
				</div>

				<div class="col-md-1">
					  {{ form_label(form.nomenSTitulo.mz) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.mz) }}
				</div>			

			</div>

	<br>
			

			<div class="row">
				<div class="col-md-1">
						{{ form_label(form.nomenSTitulo.lote) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.lote) }}
				</div>	

				<div class="col-md-1">
						{{ form_label(form.nomenSTitulo.loteR) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.loteR) }}
				</div>	

				<div class="col-md-1">
					 {{ form_label(form.nomenSTitulo.uf) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.nomenSTitulo.uf) }}
				</div>

				<div class="col-md-1">
						 {{ form_label(form.nomenSTitulo.direccion) }}
				</div>
				<div class="col-md-4">
						 {{form_widget(form.nomenSTitulo.direccion) }}
				</div>

				</div>			
			</div>
		</div>
	</div>
	</div>

<br>

	<div class="panel panel-default">
	  <div class="panel-heading">DATOS RELEVANTES</div>
		  <div class="panel-body">
		    

	<div class="panel panel-default">
	  <div class="panel-heading">FOLIO REAL MATRICULA</div>
		  <div class="panel-body">
		  <div class="row">
				<div class="col-md-2">
							 {{ form_label(form.poseeFolio) }}
					</div>
					<div class="col-md-1">
							 {{form_widget(form.poseeFolio) }}
					</div>

					<div class="col-md-2" id="folio">
						 {{form_widget(form.folioMatricula) }}
					</div>

				<div id="folioViejo">
					<div class="col-md-1">
						 {{form_widget(form.frmTomo) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmFolio) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmFolio) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmFinca) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmFinca) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.frmAnio) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.frmAnio) }}
					</div>
				</div>


			</div>			
		</div>
	</div>

<div class="panel panel-default">
	  <div class="panel-heading">CUESTIONES AMBIENTALES</div>
		  <div class="panel-body">
		  <div class="row">
				<div class="col-md-2">
							 {{ form_label(form.basural) }}
					</div>
					<div class="col-md-1">
							 {{form_widget(form.basural) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.hornoLadrilleria) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.hornoLadrilleria) }}
					</div>

					<div class="col-md-2">
						 {{ form_label(form.lagunaOxidacion) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.lagunaOxidacion) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.altaTension) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.altaTension) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.antenaTelefonica) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.antenaTelefonica) }}
					</div>
				</div>
			</div>			
		</div>

	<div class="panel panel-default">
	  <div class="panel-heading">RESTRICCIONES DEL APA</div>
		  <div class="panel-body">
		  <div class="row">
				<div class="col-md-2">
							 {{ form_label(form.zonaInundable) }}
					</div>
					<div class="col-md-1">
							 {{form_widget(form.zonaInundable) }}
					</div>

					<div class="col-md-1">
						 {{ form_label(form.porcentajeInundable) }}
					</div>
					<div class="col-md-1">
						 {{form_widget(form.porcentajeInundable) }}
					</div>

					<div class="col-md-2">
						 {{ form_label(form.lineaRestriccion) }}
					</div>
					<div class="col-md-2">
						 {{form_widget(form.lineaRestriccion) }}
					</div>
				</div>
			</div>			
		</div>

		<div class="panel panel-default">
	  <div class="panel-heading">NEXOS DE INFRAESTRUCTURA</div>
		  <div class="panel-body">
		  <div class="row">
		  			<div class="col-md-2">
					 {{ form_label(form.electricidad) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.electricidad) }}
				</div>

				<div class="col-md-2">
					 {{ form_label(form.callesAbiertas) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.callesAbiertas) }}
				</div>

				<div class="col-md-1">
					 {{ form_label(form.agua) }}
					
				</div>
				<div class="col-md-1">
					{{form_widget(form.agua) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.cloaca) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.cloaca) }}					
				</div>

				</div>
			</div>			
		</div>

		    <div class="row">
				<div class="col-md-2">
					 {{ form_label(form.entreCalle) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.entreCalle) }}
				</div>
				<div class="col-md-2">
					  {{ form_label(form.transpCalle) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.transpCalle) }}
				</div>
				
				<div class="col-md-2">
					 {{ form_label(form.dimension) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.dimension) }}	
				</div>

				<div class="col-md-1">
					 {{ form_label(form.tipoCalle) }}
				</div>
				<div class="col-md-2">
					{{form_widget(form.tipoCalle) }}	
				</div>	

			</div>

			<br>

			<div class="row">

			<div class="col-md-1">
					 {{ form_label(form.mensura) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.mensura) }}
				</div>	

				<div id="mensura">
					<div class="col-md-1">
						{{ form_label(form.mensDpto) }}
					</div>
					<div class="col-md-1">
						{{ form_widget(form.mensDpto) }}
					</div>
					<div class="col-md-1">
						{{ form_label(form.mensPlano) }}
					</div>
					<div class="col-md-1">
						{{ form_widget(form.mensPlano) }}
					</div>
					<div class="col-md-1">
						{{ form_label(form.mensAnio) }}
					</div>
					<div class="col-md-1">
						{{ form_widget(form.mensAnio) }}
					</div>
				</div>
				<div id="proyectoDeLoteo">
					<div class="col-md-2">
						 {{ form_label(form.proyectoDeLoteo) }}
					</div>
					<div class="col-md-1">
						{{form_widget(form.proyectoDeLoteo) }}
				</div>
					
				</div>
			
			</div>

			<br>
			<div class="row">
				<div class="col-md-2">
					 {{ form_label(form.descripcion) }}
				</div>
				<div class="col-md-6">
					{{form_widget(form.descripcion) }}	
				</div>
				<div class="col-md-1">
					 {{ form_label(form.precio) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.precio) }}
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">DATOS ADICIONALES</div>
	  	<div class="panel-body">  	
		    <div class="row">
			  	<div class="col-md-2">
						 {{ form_label(form.obsv) }}
				</div>
				<div class="col-md-4">
					{{form_widget(form.obsv) }}
				</div>
			</div>
				<br>
			    <div class="row">
			        <div class='col-md-1'>
			            {{ form_label(form.visita) }}
			        </div>
			        <div class='col-md-5'>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker1'>
			                    {{ form_widget(form.visita) }}
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			    </div>
			
			</div>
		</div>

						<div class="pull-right" >
							{{ form_row(form.submit) }}
		        	    </div>


{% endblock %}


{% block ipduv_tierrasbundle_terreno_widget1 %}
    <br>
	<div class="panel panel-default">
	  <div class="panel-heading">DATOS DE UBICACCION</div>
		  <div class="panel-body">
		    <div class="row">
		        <div class="col-md-1">
					 {{ form_label(form.propietario) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.propietario) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.oferente) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.oferente) }}
				</div>

				
			</div>
			<br>
			
			<div class="row">
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.cir) }}
					 {{form_widget(form.ncatastral.cir) }}
				</div>
			
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.sec) }}
     				 {{ form_widget(form.ncatastral.sec) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.qta) }}
					 {{ form_widget(form.ncatastral.qta) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.cha) }}
					 {{ form_widget(form.ncatastral.cha) }}
				</div>
				<div class="col-md-1">
					  {{ form_label(form.ncatastral.mz) }}
					 {{form_widget(form.ncatastral.mz) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.pc) }}
					 {{form_widget(form.ncatastral.pc) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.ncatastral.uf) }}
					 {{form_widget(form.ncatastral.uf) }}
				</div>
				<div class="col-md-3">
					 {{ form_label(form.direccion) }}
					 {{ form_widget(form.direccion) }}
				</div>
				<div class="col-md-2">
					 {{ form_label(form.localidadId) }}
				   	 {{ form_widget(form.localidadId) }}
				</div>
			</div>
			<br>
			<div class="row">
				
			</div>
		</div>
	</div>

<br>

	<div class="panel panel-default">
	  <div class="panel-heading">DATOS RELEVANTES</div>
		  <div class="panel-body">
		    <div class="row">
				<div class="col-md-2">
					 {{ form_label(form.entreCalle) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.entreCalle) }}
				</div>
				<div class="col-md-2">
					  {{ form_label(form.transpCalle) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.transpCalle) }}
				</div>
				<div class="col-md-2">
					 {{ form_label(form.folioMatricula) }}
				</div>
				<div class="col-md-2">
					 {{form_widget(form.folioMatricula) }}
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-2">
					 {{ form_label(form.dimension) }}
				</div>
				<div class="col-md-2">
					{{form_widget(form.dimension) }}	
				</div>

				<div class="col-md-2">
					 {{ form_label(form.tipoCalle) }}
				</div>
				<div class="col-md-2">
					{{form_widget(form.tipoCalle) }}	
				</div>
				<div class="col-md-2">
					 {{ form_label(form.callesAbiertas) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.callesAbiertas) }}
				</div>				
			</div>

			<br>
			
			<div class="row">
				
				<div class="col-md-2">
					 {{ form_label(form.electricidad) }}
				</div>
				<div class="col-md-1">
					 {{form_widget(form.electricidad) }}
				</div>
			
				<div class="col-md-1">
					 {{ form_label(form.agua) }}
					
				</div>
				<div class="col-md-1">
					{{form_widget(form.agua) }}
				</div>
				<div class="col-md-1">
					 {{ form_label(form.cloaca) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.cloaca) }}
					
				</div>
				<div class="col-md-1">
					 {{ form_label(form.mensura) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.mensura) }}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					 {{ form_label(form.descripcion) }}
				</div>
				<div class="col-md-6">
					{{form_widget(form.descripcion) }}	
				</div>
				<div class="col-md-1">
					 {{ form_label(form.precio) }}
				</div>
				<div class="col-md-1">
					{{form_widget(form.precio) }}
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">DATOS ADICIONALES</div>
	  	<div class="panel-body">  	
		    <div class="row">
			  	<div class="col-md-2">
						 {{ form_label(form.obsv) }}
				</div>
				<div class="col-md-5">
					{{form_widget(form.obsv) }}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2" id="escritura-3">
					 {{ form_label(form.visita) }}
				</div>
				<div class="col-md-3" id="escritura-4">
		            <div class="form-group">
		                <div class='input-group date' id='datetimepicker1' >
		                    <!--input type='text' class="form-control" name='fecha_escritura' /-->
		                    {{ form_widget(form.visita) }}
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
				</div>
			</div>
			</div>
		</div>

{% endblock %}